@using DormitoryManagement.Data.Models
@inject NavigationManager NavigationManager

<p class="mb-2 text-xl font-semibold">Floor @Floor.Number</p>
<div class="w-full border border-gray-300 rounded-lg flex flex-wrap gap-4 p-6">
    @foreach(var room in Floor.Rooms)
    {
        <button @onclick="@(() => GoToRoom(room.Id))" class="w-16 h-16 border border-primary text-primary font-semibold flex justify-center items-center">@room.Number</button>
    }
    
    <button @onclick="AddRoom" class="w-16 h-16 border border-primary text-primary font-semibold text-sm opacity-40 hover:opacity-100">Add room</button>
</div>


@code {
    [Parameter, EditorRequired] public Floor Floor { get; set; } = null!;
    
    [Parameter, EditorRequired] public EventCallback<Guid> OnAddNewRoom { get; set; }

    protected override void OnParametersSet()
    {
        Floor.Rooms = Floor.Rooms.OrderBy(x => int.Parse(x.Number)).ToList();
    }

    private async Task AddRoom()
    {
        await OnAddNewRoom.InvokeAsync(Floor.Id);
    }
    
    private void GoToRoom(Guid roomId)
    {
        NavigationManager.NavigateTo($"/room/{roomId}");
    }

}