@using DormitoryManagement.Assets

<aside class="flex flex-col w-64 h-screen px-4 py-8 overflow-y-auto bg-neutral-50">
    <a href="#">
        @ReusableAssets.BrandLogo("w-12 h-auto p-2 stroke-primary")
    </a>

    <div class="flex flex-col mt-6">
        <NavLink ActiveClass="bg-gray-100" class="flex items-center p-2 rounded-lg hover:bg-gray-100" href="building-display">Floor plan</NavLink>
        <NavLink ActiveClass="bg-gray-100" class="flex items-center p-2 rounded-lg hover:bg-gray-100" href="inventory-display">Inventory</NavLink>
    </div>
</aside>